stages:
  - build
  - deploy

build_job:
  stage: build
  image: ruby:2.7
  before_script:
    - gem install bundler
    - bundle install --jobs "$(nproc)" --retry 3
  script:
    - bundle exec rake assets:precompile
  artifacts:
    paths:
      - public/assets/

deploy:
  stage: deploy
  image: ruby:latest
  variables:
    SSH_PRIVATE_KEY: $PRIVATE_KEY
  before_script:
    - apt-get update -yq
    - apt-get install -yq openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/$id_rsa
    - chmod 600 ~/.ssh/$id_rsa
    - ssh-keyscan $EC2_HOST >> ~/.ssh/known_hosts
  script:
    - scp -r . $EC2_USER@$EC2_HOST:/var/www/my_app
    - ssh $EC2_USER@$EC2_HOST 'cd /var/www/my_app && bundle install --deployment --without development test'
    - ssh $EC2_USER@$EC2_HOST 'cd /var/www/my_app && bundle exec rake db:migrate'
    - ssh $EC2_USER@$EC2_HOST 'cd /var/www/my_app && bundle exec unicorn -c config/unicorn.rb -D'


